.projects {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
}
.projects-title {
  padding-top: 8%;
}
.projects-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
}
.project-card {
  height: 510px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 30px;
}
.dark-mode .project-card {
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
  border-bottom: #e74fd5 2px solid;
  width: 100%;
}
.project-card img {
  height: 100%;
  width: 100%;
  background-size: contain;
  transition: 0.5s;
  border-radius: 5px;
}
.project-card .image-container {
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.new {
  position: relative;
  box-sizing: border-box;
}
.intro {
  width: 100%;
  height: 65px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  background-color: black;
  color: white;
  top: -60px;
  transition: 0.5s;
}
.intro-title{
  font-size: 20px;
  font-family: "Playfair";
}
.dark-mode .intro {
  background-color: white;
  color: black;
}
.dark-mode .prog-lang ul li {
  color: black;
}
.project-card:hover {
  cursor: pointer;
}
.project-card:hover .intro {
  height: 220px;
  top: -220px;
  backdrop-filter: blur(5px);
}
.project-card:hover .intro .intro-content {
  visibility: visible;
  opacity: 1;
}
.project-card:hover img {
  transform: scale(1.2);
}
.intro .intro-content {
  visibility: hidden;
  opacity: 0;
  width: 100%;
}
.intro p {
  font-weight: 600;
  padding: 0px 20px 0px 20px;
  margin-top: 10px;
}
.intro-content {
  font-size: 12px;
}
.prog-lang ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
  height: 40px;
}
.prog-lang ul li {
  width: 20%;
  padding: 0px 0px 0px 20px;
}
.interact-btn {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  padding: 0px 30px 0px 20px;
}
.interact-btn button {
  padding: 10px;
  width: 100px;
  border: 1px solid black;
  color: black;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.project-card .content {
  padding: 20px 30px 20px 30px;
  text-align: justify;
  font-size: 14px;
}
.project-card:hover .interact-btn button:hover {
  background-color: #fe5b02;
  color: white;
  border: none;
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

/*Responsiveness*/
@media (max-width: 1024px) {
  .projects {
    height: 100%;
  }
  .projects-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 849px) {
  .projects-content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .projects-title {
    padding-top: 15%;
  }
  .projects-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .intro-title{
    font-size: 18px;
    font-family: "Playfair";
  }
  .project-card .content{
    font-size: 12px;
  }
  .prog-lang ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    height: 40px;
    width: 90%;
  }
  .prog-lang ul li {
    width: 20%;
    padding: 0px 0px 0px 20px;
    font-size: 10px;
  }
  .interact-btn button {
    padding: 10px;
    width: 90px;
    border: 1px solid black;
    color: black;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    font-size: 12px;
  }
}
@media (max-width: 730px){
  .intro-title{
    font-size: 16px;
    font-family: "Playfair";
  }
  .prog-lang ul li {
    width: 17%;
    padding: 0px 0px 0px 20px;
    font-size: 10px;
  }
}
@media (max-width: 700px) {
  .projects-content {
    grid-template-columns: 1fr;
  }
  .intro-title{
    font-size: 20px;
    font-family: "Playfair";
  }
  .project-card .content {
    padding: 20px 30px 20px 30px;
    text-align: justify;
    font-size: 14px;
  }
  .prog-lang ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    height: 40px;
  }
  .prog-lang ul li {
    width: 20%;
    padding: 0px 0px 0px 20px;
    font-size: 12gridpx;
  }
  .interact-btn button {
    padding: 10px;
    width: 100px;
    border: 1px solid black;
    color: black;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
}
@media (max-width: 550px) {
  .projects-content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .projects-title {
    padding-top: 20%;
  }
}
@media (max-width: 426px) {
  .projects {
    height: 100%;
    width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  }
  .projects-title {
    padding-top: 17%;
  }
}
