.contact-me {
  padding-left: 13%;
  padding-right: 7%;
  width: 80%;
  height: 100vh;
}
.contact-container {
  min-height: calc(80vh - 5px * 2);
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 10%;
  justify-content: center;
}
.contact-me-title p,
.left-navigation h1 {
  text-align: justify;
  width: 90.5%;
}
.left-navigation h1 {
  margin-top: 7%;
}
.contact-me-title .form {
  width: 90.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3% !important;
  margin: 0;
}

.contact-me-title .form-item input {
  width: 95%;
  height: 30px;
  padding: 10px;
  outline: none;
}
.send-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2%;
}
.send-btn button {
  padding: 15px;
  background-color: #fe5b02;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

.send-btn button:disabled {
  background-color: grey;
  cursor: default;
}
.right-navigation {
  display: flex;
  align-items: center;
}
.right-navigation .illustration-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-navigation .illustration-2 img {
  width: 80%;
  height: 60%;
}
.successfull-box {
  height: 60px;
  width: 250px;
  position: absolute;
  top: 12%;
  right: 10%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-bottom: #e74fd5 2px solid;
}
.dark-mode .successfull-box {
  /* background-color: #e1e1e1;
  color: black; */
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
  border-bottom: #e74fd5 2px solid;
}
.dark-mode .MuiInputBase-root textarea,
.dark-mode .MuiInputBase-root input {
  border-color: black;
}

.widhun {
  width: 48%;
}
/* Responsiveness */
@media (max-width: 1040px) {
  .contact-container {
    grid-template-columns: 60% 40%;
  }
  .right-navigation .illustration-2 img {
    width: 100%;
    height: 80%;
  }
}

@media (max-width: 769px) {
  .right-navigation {
    display: none;
  }
  .contact-container {
    grid-template-columns: 100% 0%;
  }
}

@media (max-width: 500px) {
  .contact-container {
    padding-top: 15%;
  }
  .widhun {
    width: 100%;
    margin-bottom: 4%;
  }
  .send-btn button {
    margin-top: 3%;
  }
  /* .marTop {
    margin-top: 4% !important;
  } */
}

@media (max-width: 426px) {
  .marTop {
    margin-top: 4% !important;
  }
}

@media (max-width: 376px) {
  .contact-me-title p {
    font-size: 14px;
  }
  .contact-container {
    padding-top: 25%;
  }
}

@media (max-width: 353px) {
  .contact-me-title p {
    font-size: 14px;
  }
  .contact-me-title h1 {
    font-size: 30px;
  }
}
@media (max-width: 332px) {
  .contact-me-title p {
    font-size: 14px;
  }
  .contact-me-title h1 {
    font-size: 28px;
  }
}
